*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}


.header {
    margin: auto;
    width: 1240px;
    /* background: red; */
    display: flex;
    padding: 20px 0;
}

.main-logo {
    width: 25%;
}

.main-menu {
    width: 75%;
    align-items: center;
    display: flex;
    justify-content: end;
}
.main-menu nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    /* align-items: center; */
}
.main-menu nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    display: block;
    color: black;
    
}
.footer {
    background: #555555;
    padding: 22px 0;
}

.footer-menu {
    width: 1240px;
    margin: auto;
}

.footer-menu nav ul {
    list-style: none;
}

.footer-menu nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
.footer-menu p {
    color: white;
    padding-top: 100px;
}
.hero-section-full-width {
    background: #8e8973;
    margin-bottom: 20px;
}
.hero-section {
    width: 1240px;
    margin: auto;
    display: flex;
}
.hero-section-text {color: white;padding: 50px 0;}

.hero-section-text h1 {
    font-size: 38px;
}

.hero-section-text h2 {
    font-size: 57px;
    padding: 15px 0;
}

.hero-section-text h3 {
    font-size: 30px;
    line-height: 161%;
}

.hero-section-text h4 {
    font-size: 23px;
    padding-top: 14px;
}
.hero-section-images 
{display: flex;}